In [1]:
import numpy
import pandas as pd

In [2]:
df1= pd.read_csv("Medicine-Updated.csv")
df2= pd.read_csv("ECG200_TRAIN.csv",delimiter="  ")

C:\Users\lenovo\AppData\Local\Temp/ipykernel_9680/2633776174.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2= pd.read_csv("ECG200_TRAIN.csv",delimiter="  ")

In [3]:
cn=[]
char='COL'
for i in range(97):
    c=str(i)
    cn.append(char+c)

In [4]:
df2.columns=[cn]

In [5]:
df2.rename(columns={'COL0':'Labels'},inplace=True)

In [6]:
df2.describe()

,Labels,COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9,...,COL87,COL88,COL89,COL90,COL91,COL92,COL93,COL94,COL95,COL96
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,0.393939,0.710522,1.431040,2.052450,2.133501,1.545708,0.746908,0.265944,0.322162,0.366550,...,0.182931,0.169882,0.200725,0.282462,0.410739,0.457547,0.386633,0.278600,0.177466,0.172248
std,0.923814,0.596165,0.928406,1.043681,1.102072,0.957754,0.955651,1.089434,0.874545,0.762903,...,0.398854,0.433959,0.454579,0.591501,0.775839,0.875285,0.835922,0.667561,0.620616,0.414917
min,-1.000000,-0.706305,-1.100715,-1.321589,-1.076313,-1.247922,-1.482391,-1.598712,-1.508060,-1.609777,...,-0.533503,-0.691436,-0.516631,-0.574304,-0.559178,-0.530917,-0.738019,-0.970796,-1.862314,-1.238622
25%,-1.000000,0.317978,0.791786,1.597707,1.520715,0.934032,0.016851,-0.610085,-0.477833,-0.079104,...,-0.131964,-0.143701,-0.122133,-0.149562,-0.073084,-0.099097,-0.111797,-0.119858,-0.131257,-0.048432
50%,1.000000,0.581277,1.237034,2.154536,2.235800,1.735496,0.560727,0.104841,0.352575,0.453166,...,0.082941,0.086670,0.103960,0.119056,0.163330,0.201845,0.101325,0.134269,0.124042,0.147889
75%,1.000000,0.996409,2.095711,2.708055,2.872853,2.165062,1.473131,1.223463,1.008394,0.964301,...,0.428192,0.435691,0.466163,0.590219,0.585567,0.599490,0.553665,0.541536,0.523024,0.414425
max,1.000000,2.689017,3.535038,3.850263,4.199145,3.720899,3.026452,2.454195,2.220327,2.122435,...,1.376751,1.497244,1.436900,2.190151,3.047309,3.269882,3.332053,2.653741,1.930880,1.372607

In [7]:
df2['Labels'].value_counts()

(Labels,)
 1.0         69
-1.0         30
dtype: int64

In [8]:
num=df2.to_numpy()
num

array([[ 1.        ,  0.1476469 ,  0.8046684 , ...,  0.03685655,
        -1.2650744 , -0.20802439],
       [-1.        ,  0.31664616,  0.24319908, ...,  0.74884814,
         0.81804204,  0.53934704],
       [-1.        ,  1.1688741 ,  2.0759008 , ...,  1.2569493 ,
         0.80040658,  0.73153981],
       ...,
       [-1.        ,  0.19767692,  0.45541658, ..., -0.1200061 ,
         0.04242264,  0.34329344],
       [ 1.        ,  0.17950028,  1.0384092 , ...,  0.15104997,
         0.19337751,  0.45170853],
       [ 1.        ,  0.07312418,  0.77605406, ..., -0.06668896,
        -0.17844792, -0.25605159]])

# Train test split

In [9]:
train1=[]
train2=[]
test1=[]
test2=[]
for i in range(99):
    if num[i][0]==1:
        if len(train1)<49:
            train1.append(num[i])
        elif (len(train1))>48:
            test1.append(num[i])
    else:
        if len(train2)<22:
            train2.append(num[i])
        elif (len(train2))>21:
            test2.append(num[i])

In [10]:
train=train1+train2
test=test1+test2

In [11]:
pos=train1+test1
neg=train2+test2

In [12]:
train1=pos[:17]
train2=pos[17:34]
train3=pos[34:51]
train4=pos[51:]

In [13]:
test1=neg[:7]
test2=neg[7:14]
test3=neg[14:21]
test4=neg[21:]

In [14]:
fs1=train1+test1
fs2=train2+test2
fs3=train3+test3
fs4=train4+test4

In [15]:
train1=fs1+fs2+fs3
test1=fs4
train2=fs1+fs2+fs4
test2=fs3
train3=fs1+fs4+fs3
test3=fs2
train4=fs4+fs2+fs3
test4=fs1

In [16]:
import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report

In [17]:
l1=[]
l2=[]
l3=[]
l4=[]
for i in range(len(train1)):
    l1.append(train1[i][0])
for i in range(len(train2)):
    l2.append(train2[i][0])
for i in range(len(train3)):
    l3.append(train3[i][0])
for i in range(len(train4)):
    l4.append(train4[i][0])
lab1=[]
lab2=[]
lab3=[]
lab4=[]
for i in range(len(test1)):
    lab1.append(test1[i][0])
for i in range(len(test2)):
    lab2.append(test2[i][0])
for i in range(len(test3)):
    lab3.append(test3[i][0])
for i in range(len(test4)):
    lab4.append(test4[i][0])

In [18]:
for i in range(len(train1)):
    train1[i]=train1[i][1:]
for i in range(len(train2)):
    train2[i]=train2[i][1:]
for i in range(len(train3)):
    train3[i]=train3[i][1:]
for i in range(len(train4)):
    train4[i]=train4[i][1:]
for i in range(len(test1)):
    test1[i]=test1[i][1:]
for i in range(len(test2)):
    test2[i]=test2[i][1:]
for i in range(len(test3)):
    test3[i]=test3[i][1:]
for i in range(len(test4)):
    test4[i]=test4[i][1:]

In [19]:
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(train1,l1)

KNeighborsClassifier(n_neighbors=2)

from sklearn.naive_bayes import GaussianNB
clf =GaussianNB()
clf = clf.fit(X_train, y_train)

filename = '20i-2438_04.pkl'
pickle.dump(clf , open(filename,'wb'))

pred=clf.predict(X_test)
print (pred)
clf.score(X_test,y_test)
print ("Accuracy : " , accuracy_score(y_test,pred)*100)  
print("Report : \n", classification_report(y_test, pred))
print("F1 Score : ",f1_score(y_test, pred, average='macro')*100)

In [20]:
pred=knn.predict(test1)
print (pred)
# clf.score(X_test,y_test)
print ("Accuracy : " , accuracy_score(lab1,pred)*100) 
acc1=accuracy_score(lab1,pred)*100
# print("Report : \n", classification_report(y_test, pred))
# print("F1 Score : ",f1_score(y_test, pred, average='macro')*100)

[ 1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1. -1. -1.  1.  1.
 -1. -1. -1. -1.  1. -1. -1. -1. -1.]
Accuracy :  85.18518518518519

In [21]:
knn.fit(train2,l2)
pred=knn.predict(test2)
print (pred)
print ("Accuracy : " , accuracy_score(lab2,pred)*100)
acc2=accuracy_score(lab2,pred)*100

[ 1. -1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1. -1.
 -1. -1. -1. -1.  1.  1.]
Accuracy :  83.33333333333334

In [22]:
knn.fit(train3,l3)
pred=knn.predict(test3)
print (pred)
print ("Accuracy : " , accuracy_score(lab3,pred)*100)  
acc3=accuracy_score(lab3,pred)*100
knn.fit(train4,l4)
pred=knn.predict(test4)
print (pred)
print ("Accuracy : " , accuracy_score(lab4,pred)*100)
acc4=accuracy_score(lab4,pred)*100

[ 1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1. -1.  1.  1.  1. -1.
 -1. -1. -1. -1.  1. -1.]
Accuracy :  87.5
[ 1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1. -1.  1.  1.  1. -1. -1.
 -1. -1. -1. -1. -1. -1.]
Accuracy :  87.5

In [23]:
#average
acc=(acc1+acc2+acc3+acc4)/4
acc

85.87962962962963

# auto split

In [24]:
lab=[]
X=[]
for i in range(len(num)):
    lab.append(num[i][0])
for i in range(len(num)):
    X.append(num[i][1:])

In [25]:
from sklearn.model_selection import cross_val_score
scoree = cross_val_score(knn, X, lab, cv=4)

In [26]:
score=scoree*100
score

array([88.        , 88.        , 84.        , 83.33333333])

In [27]:
sum(score) / len(score)

85.83333333333334

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, lab, test_size=0.33, random_state=42)
knn.fit(X_train,y_train)
pred=knn.predict(X_test)
print (pred)
knn.score(X_test,y_test)
print ("Accuracy : " , accuracy_score(y_test,pred)*100)  
print("Report : \n", classification_report(y_test, pred))
print("F1 Score : ",f1_score(y_test, pred, average='macro')*100)

[ 1. -1. -1. -1.  1. -1.  1. -1. -1.  1.  1.  1.  1. -1.  1.  1. -1.  1.
 -1.  1.  1.  1.  1.  1. -1.  1. -1.  1.  1.  1. -1.  1.  1.]
Accuracy :  78.78787878787878
Report :
               precision    recall  f1-score   support

        -1.0       0.50      0.86      0.63         7
         1.0       0.95      0.77      0.85        26

    accuracy                           0.79        33
   macro avg       0.73      0.81      0.74        33
weighted avg       0.86      0.79      0.80        33

F1 Score :  74.13213885778275